.hidden{
  display: none;
}

#intro{
  background-image: url("../images/mainbckgrd-med.jpg");
  height: 100vh;
  text-align: center;
}
#introMessage{
  margin: 50px auto;
  border: 5px solid white;
  font-family: 'Exo', sans-serif;
  height: 80px;
  padding: 20px;
  text-align: center;
}
#intro{
  color: white;
}
#intro ul{
  list-style-type: none;
  text-align: left;
  margin-bottom:140px;
}
#intro ul li{
  margin-top: 5px;
}
#intro ul li a{
  color: white;
  font-size: 1.2em;
  font-family: 'Raleway', sans-serif;
}
#intro ul li a::after{
  content: '';
  display: block;
  margin-top: 10px;
  height: 2px;
  width: 0px;
  background: transparent;
  transition: width .5s ease, background-color .5s ease;
}
#intro ul li a:hover::after{
  width: 30%;
  background: #000;
}
/*********************SERVICES***********************/
#introServices{
  background-color: #192a31;
}
#introMessageServices{
  border: 5px solid white;
  font-family: 'Exo', sans-serif;
  padding: 10px;
  margin-top: 10px;
  margin-left: 10px;
  font-size: 0.9em;
  color: white;
}
#introServices ul{
  list-style-type: none;
  text-align: right;
}
#introServices ul li{
  margin-top: 5px;
}
#introServices ul li a{
  color: white;
  font-size: 1em;
  font-family: 'Raleway', sans-serif;
}
#introServices ul li a::after{
  content: '';
  display: block;
  margin-top: 10px;
  height: 2px;
  width: 0px;
  background: transparent;
  transition: width .5s ease, background-color .5s ease;
}
#introServices ul li a:hover::after{
  width: 30%;
  background: #000;
}
#ourServices, #about{
  color: white;
  font-family: 'Raleway', sans-serif;
  padding: 10px;
  margin-top: 20px;
}
#ourServices h2, #about h2{
  text-align: center;
  font-size: 1.6em;
  font-family: 'Raleway', sans-serif;
}
#servicesList{
  color: black;
  font-size: 0.8em;
  padding: 10px;
}
#servicesList h3{
  margin-top: 10px;
  font-size: 1.2em;
  font-weight: bold;
}

#introWork, #introAbout{
  background-color: #192a31;
  color: white;
}
#mainWorks{
  padding: 10px;
  background-color: white;
}
#landscapeWork, #productWork, #PortraitWork{
  margin: 0 auto;
}
#landscapeWork h3, #productWork h3, #PortraitWork h3{
  margin-top: 10px;
  font-size: 1.2em;
  font-weight: bold;
}
.workExample{
  overflow: hidden;
  max-height: 200px;
  height: 100%;
  padding: 5px;
}

.mainForm{
  margin-top: 20px;
}
#submit{
  background-color: #192a31;
  color: white;
  padding: 10px;
}
#submit:hover{
  background-color: #658699;
}

@media screen and (min-width: 40em) {
  #intro{
    background-image: url("../images/mainbckgrd-lrg.jpg");
  }
}
